@use "../abstracts" as *;

.alert {
  font-size: 1.125rem;
  font-weight: $fw-medium;
  padding: 0.5rem 1.5rem;
  border-radius: $border-radius-small;
  box-shadow: $box-shadow-2;
  animation: appearFromBelow 0.3s ease-in forwards;

  &--danger {
    background-color: $color-danger;
    color: $color-white;
  }

  &--success {
    background-color: $color-primary;
    color: $color-white;
  }

  @include respond(tab-land) {
    font-size: 1.375rem;
  }
}
