@use "../abstracts" as *;

.bet-area {
  --bet-area-dimension-lg: 7.3rem;
  --bet-area-dimension-sm: 5rem;
  --bet-area-total-arrow-dimension: 1rem;

  display: grid;
  justify-items: center;
  row-gap: var(--bet-area-total-arrow-dimension);

  @include respond(tab-port) {
    --bet-area-dimension-lg: 10rem;
    --bet-area-total-arrow-dimension: 1.5rem;
  }

  @include respond(tab-land) {
    --bet-area-dimension-lg: 12rem;
  }

  &__box {
    width: var(--bet-area-dimension-lg);
    height: var(--bet-area-dimension-lg);
    background-color: $color-gray-faded-3;
    border: $border-size-small solid $color-gray-faded-2;
    border-radius: $border-radius-circle;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &__chips {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    &__chip {
      &:not(:first-child) {
        margin-left: -2rem;
      }
    }
  }

  &__total {
    font-weight: $fw-medium;
    background-color: $color-gray-faded-3;
    color: $color-white;
    text-align: center;
    border-radius: $border-radius-rounded;
    border: $border-size-small solid $color-gray-faded-2;
    position: relative;

    &--lg {
      min-width: var(--bet-area-dimension-lg);
      font-size: 1.125rem;
      padding: 0.5rem 1rem;

      @include respond(tab-port) {
        font-size: 1.375rem;
      }

      @include respond(tab-land) {
        display: none;
      }
    }

    &--sm {
      min-width: var(--bet-area-dimension-sm);
      font-size: 1rem;
      padding: 0.3rem;

      @include respond(tab-port) {
        font-size: 1.125rem;
        padding: 0.6rem;
      }
    }

    &--lg::after {
      content: "";
      display: block;
      min-width: var(--bet-area-total-arrow-dimension);
      height: var(--bet-area-total-arrow-dimension);
      clip-path: polygon(0 0, 100% 0, 50% 100%, 0 0);
      background-color: $color-gray-faded-3;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: calc(var(--bet-area-total-arrow-dimension) * -1);
    }
  }
}
