@use "../abstracts" as *;

.bet-area {
  --bet-area-dimension-lg: 7.3rem;
  --bet-area-dimension-sm: 5rem;

  display: grid;
  row-gap: 1rem;

  &__box {
    width: var(--bet-area-dimension-lg);
    height: var(--bet-area-dimension-lg);
    background-color: $color-gray-faded-3;
    border: $border-size-small solid $color-gray-faded-2;
    border-radius: $border-radius-circle;

    display: grid;
    place-content: center;
    position: relative;
  }

  &__total {
    font-weight: $fw-medium;
    background-color: $color-gray-faded-3;
    color: $color-white;
    text-align: center;
    border-radius: $border-radius-rounded;
    border: $border-size-small solid $color-gray-faded-2;
    position: relative;

    &--lg {
      min-width: var(--bet-area-dimension-lg);
      font-size: 1.125rem;
      padding: 0.5rem;
    }

    &--sm {
      min-width: var(--bet-area-dimension-sm);
      font-size: 1rem;
      padding: 0.3rem;
    }

    &--lg::after {
      content: "";
      display: block;
      min-width: 1rem;
      height: 1rem;
      clip-path: polygon(0 0, 100% 0, 50% 100%, 0 0);
      background-color: $color-gray-faded-3;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -1rem;
    }
  }
}
