@use "../abstracts" as *;

.card__deck {
  width: 100%;
  display: flex;
  justify-content: center;

  position: relative;

  &--player {
    margin-bottom: 1rem;
  }

  &--dealer {
    margin-top: 2.5rem;
  }

  &--split {
    column-gap: 2rem;
  }
}

.cards {
  display: flex;
  justify-content: center;
  position: relative;

  &__split-wrapper {
    display: grid;
    row-gap: 0.5rem;

    &__box {
      padding: 1rem 2rem;
      background-color: $color-gray-faded-3;
      border-radius: $border-radius-small;
      position: relative;

      @include respond(tab-port) {
        padding: 1.5rem 2.5rem;
      }

      &.active {
        box-shadow: inset 0 0 0 $border-size-default $color-primary;
      }
    }
  }

  &__score {
    --card-score-dimension-lg: 2rem;
    --card-score-dimension-md: 1.8rem;
    --card-score-dimension-sm: 1.5rem;

    font-weight: $fw-medium;
    border-radius: $border-radius-circle;
    background-color: $color-black;
    color: $color-white;

    display: grid;
    place-content: center;

    position: absolute;
    top: -1rem;
    right: -1rem;
    z-index: 10;

    @include respond(tab-port) {
      --card-score-dimension-lg: 2.125rem;
      --card-score-dimension-md: 1.9rem;
      --card-score-dimension-sm: 1.8rem;
    }

    &--player {
      font-size: 1.125rem;
      width: var(--card-score-dimension-lg);
      height: var(--card-score-dimension-lg);

      &--sm {
        font-size: 0.75rem;
        width: var(--card-score-dimension-sm);
        height: var(--card-score-dimension-sm);

        @include respond(tab-port) {
          font-size: 1rem;
        }
      }
    }

    &--dealer {
      font-size: 1rem;
      width: var(--card-score-dimension-md);
      height: var(--card-score-dimension-md);
    }
  }
}

.card {
  --card-dimension-ratio: 1.452;
  --card-length-lg: 5.5rem;
  --card-height-lg: calc(var(--card-length-lg) * var(--card-dimension-ratio));

  --card-length-md: 5rem;
  --card-height-md: calc(var(--card-length-md) * var(--card-dimension-ratio));

  --card-length-sm: 4rem;
  --card-height-sm: calc(var(--card-length-sm) * var(--card-dimension-ratio));

  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;

  @include respond(tab-port) {
    --card-length-lg: 6.2rem;
    --card-length-md: 5.5rem;
    --card-length-sm: 5rem;
  }

  &--player {
    width: var(--card-length-lg);
    height: var(--card-height-lg);

    &:not(:first-child) {
      margin-left: calc((var(--card-length-lg) - 0.75rem) * -1);
    }

    &--sm {
      width: var(--card-length-sm);
      height: var(--card-height-sm);

      &:not(:first-child) {
        margin-left: calc((var(--card-length-sm) - 0.7rem) * -1);
      }
    }
  }

  &--dealer {
    width: var(--card-length-md);
    height: var(--card-height-md);

    &:not(:first-child) {
      margin-left: calc((var(--card-length-md) - 0.7rem) * -1);
    }
  }

  &__side {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: all 0.8s ease;

    &--player {
      width: var(--card-length-lg);
      height: var(--card-height-lg);

      &--sm {
        width: var(--card-length-sm);
        height: var(--card-height-sm);
      }
    }

    &--dealer {
      width: var(--card-length-md);
      height: var(--card-height-md);
    }

    &--back {
      transform: rotateY(180deg);
    }
  }
}
