@use "../abstracts" as *;

.chip {
  --chip-dimension-regular: 2.5rem;
  --chip-dimension-sm: 1.8rem;

  cursor: pointer;

  @include respond(tab-port) {
    --chip-dimension-regular: 3.5rem;
    --chip-dimension-sm: 2.2rem;
  }

  @include respond(tab-land) {
    --chip-dimension-sm: 2.5rem;
  }

  &--regular {
    width: var(--chip-dimension-regular);
  }

  &--small {
    width: var(--chip-dimension-sm);
  }
}

.chips-container__navigator {
  --navigator-arrow-dimension: 1rem;

  display: block;
  width: var(--navigator-arrow-dimension);
  height: var(--navigator-arrow-dimension);
  background-color: $color-white;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  &--left {
    clip-path: polygon(100% 0, 100% 100%, 0 50%, 100% 0);
    left: 0.8rem;
  }

  &--right {
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    right: 0.8rem;
  }
}
