@use "../abstracts" as *;

.message-box {
  width: 100%;
  text-align: center;

  background-color: $color-gray-faded-1;
  color: $color-white;

  &--final-result {
    animation: appearFromBelow 0.3s ease-in;
  }

  &--lg {
    padding: 2rem;
  }

  &--sm {
    padding: 0.5rem;
    z-index: 50;

    @include respond(tab-port) {
      padding: 0.8rem;
    }
  }
}
