@use "../abstracts" as *;

.message-box {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  text-align: center;

  background-color: $color-gray-faded-1;
  color: $color-white;

  &--lg {
    padding: 2rem;
  }

  &--sm {
    padding: 0.5rem;
    z-index: 50;

    @include respond(tab-port) {
      padding: 0.8rem;
    }
  }
}
