@use "../abstracts" as *;

.modal {
  --modal-width: 37.5rem;
  --modal-height: 60vh;
  --modal-padding: 1.5rem;

  width: 85vw;
  max-width: var(--modal-width);
  height: var(--modal-height);
  overflow-y: scroll;
  padding: var(--modal-padding);
  border-radius: $border-radius-small;
  background-color: $color-white-1;
  margin-inline: auto;
  position: relative;
  animation: appearFromBelow 0.3s ease-in forwards;

  @include respond(phone) {
    --modal-height: 70vh;
  }

  &__close-icon {
    font-size: 2.125rem;
    line-height: 0.8;
    position: absolute;
    top: var(--modal-padding);
    right: var(--modal-padding);
    cursor: pointer;
  }

  &--game-rules,
  &--game-rules__section {
    display: flex;
    flex-direction: column;
  }

  &--game-rules {
    row-gap: 1rem;

    &__section {
      row-gap: 0.5rem;
    }
  }
}
