$fs-largest: 2.125rem;
$fs-larger: 1.75rem;
$fs-large: 1.6875rem;
$fs-medium: 1.4375rem;
$fs-regular: 1.125rem;
$fs-small: 1rem;
$fs-smallest: 0.8125rem;

$fw-bold: 700;
$fw-semi-bold: 600;
$fw-medium: 500;
$fw-regular: 400;
$fw-light: 300;

.heading--secondary {
  font-size: $fs-medium;
  font-weight: $fw-semi-bold;
}

.heading--tertiary {
  font-size: $fs-regular;
  font-weight: $fw-medium;
}

.paragraph {
  font-size: $fs-smallest;
  font-weight: $fw-regular;
}
