@use "../abstracts" as *;

:root {
  --body-padding-x: 1rem;
  --body-padding-y: 1rem;

  @include respond(tab-land) {
    --body-padding-x: 2rem;
    --body-padding-y: 1.5rem;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1600px;
  margin-inline: auto;
  height: 100vh;
  height: 100svh;
  overflow-x: hidden;
  background: url(../../static/img/bg/bg-mobile.jpg);
  background-size: cover;
  background-position: center;

  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  position: relative;

  @include respond(tab-port) {
    background: url(../../static/img/bg/bg-desktop.jpg);
    background-size: cover;
    background-position: center;
  }
}

.main {
  width: 100%;
  height: 100%;
  padding: var(--body-padding-y) var(--body-padding-x);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1rem;
}

.main__bottom {
  width: 100%;
}

img {
  width: 100%;
}
