$color-black: #000;
$color-gray-faded-1: rgba(0, 0, 0, 0.5);
$color-gray-faded-2: rgba(0, 0, 0, 0.4);
$color-gray-faded-3: rgba(0, 0, 0, 0.25);
$color-white: #fff;
$color-white-1: #e7e7e7;

$color-primary: #14c40a;
$color-secondary: #0b5ec4;
$color-danger: #c42a2a;
