@use "../abstracts/media-queries" as *;
@use "../abstracts/colors" as clr;

// FONT SIZES
/* 
   52 - 3.25
   46 - 2.875
   42 - 2.625
   38 - 2.375
   34 - 2.125
   32 - 2
   28 - 1.75
   26 - 1.625
   22 - 1.375
   18 - 1.125 //regular
   16 - 1
   12 - 0.75
*/

// FONT WEIGHT
$fw-bold: 700;
$fw-semi-bold: 600;
$fw-medium: 500;
$fw-regular: 400;
$fw-light: 300;

.heading--secondary {
  font-size: 1.375rem;
  font-weight: $fw-semi-bold;

  @include respond(tab-port) {
    font-size: 1.625rem;
  }
}

.heading--tertiary {
  font-size: 1.125rem;
  font-weight: $fw-medium;

  @include respond(tab-port) {
    font-size: 1.375rem;
  }
}

.heading--container {
  color: clr.$color-white;
  font-size: 1.375rem;
  font-weight: $fw-semi-bold;

  @include respond(tab-port) {
    font-size: 1.625rem;
  }
}

.heading--message {
  &--lg {
    font-size: 2.125rem;
    font-weight: $fw-bold;
    -webkit-text-stroke: 2px black;

    @include respond(tab-port) {
      font-size: 2.375rem;
    }

    @include respond(tab-land) {
      font-size: 3.25rem;
    }
  }

  &--sm {
    font-size: 1rem;
    font-weight: $fw-semi-bold;

    @include respond(tab-port) {
      padding: 0.8rem;
    }
  }
}

.paragraph {
  font-size: 0.75rem;
  font-weight: $fw-regular;

  @include respond(tab-port) {
    font-size: 1rem;
  }
}
