@use "../abstracts" as *;

.bet__controls {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;

  @include respond(tab-land) {
    display: grid;
    grid-template-columns: 35% 1fr 35%;
  }

  &__left {
    display: none;

    @include respond(tab-land) {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
      justify-items: center;
      grid-column: 1;
    }
  }

  &__right {
    grid-column: 1;

    @include respond(tab-land) {
      grid-column: 3 / -1;
      justify-items: center;
      align-self: end;
    }
  }
}
