@use "../abstracts" as *;

.header {
   width: 100%;
   height: $header-height;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.total-score-container {
   width: 60%;
   height: 100%;
   background-color: $color-gray-faded-2;
   color: $color-white;
   font-size: $fs-medium;
   font-weight: $fw-medium;
   border-radius: $border-radius-rounded;

   display: grid;
   place-content: center;
   position: relative;

   &__coin-img {
      width: calc($header-height * 0.9);
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
   }
}
